.header__lang-link_language_en {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    line-height: 28px;
}

@media screen and (max-width: 320px) {
    .header__lang-link_language_en {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
  }