.place__title {
    margin: 0;
    min-width: 460px;
    max-width: 460px;
    color: #FFF;
    font-size: 72px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
}