.place__title {
    margin: 0;
    min-width: 460px;
    max-width: 460px;
    color: #FFF;
    font-size: 72px;
    font-family: 'Inter-Black', sans-serif;
    line-height: 1.05;
}

@media screen and (max-width: 1024px) {
    .place__title {
        min-width: 440px;
        max-width: 440px;
    }
}

@media screen and (max-width: 950px) {
    .place__title {
        min-width: 340px;
        max-width: 340px;
        font-size: 42px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        padding-right: 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 650px) {
    .place__title {
        min-width: 0;
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 16px 32px 16px;
        padding-right: 0;
    }
}