.place__paragraph-pos {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph-pos {
        row-gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph-pos {
        row-gap: 25px;
        margin-top: 32px;
    }
}