.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    column-gap: 18px;
    line-height: 0;
}

@media screen and (max-width: 730px){
    .footer__links {
        max-width: 465px;
        flex-direction: column;
        row-gap: 32px;
    }
}