.place__paragraph {
    margin: 0;
    max-width: 484px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        margin-left: 28px;
        font-size: 16px;
    }
}


@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin: 0 16px;
        font-size: 16px;
    }
}