@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src:
    url('./static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src:
    url('./static/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src:
    url('./static/Inter-Black.ttf') format('truetype');
}