.photo-grid__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 284px));
    grid-template-rows: repeat(3, minmax(0, 213px));
    gap: 16px;
}