.lead__caption {
    margin: 0;
    text-transform: uppercase;
    color: #FFF;
    font-size: 10px;
    font-family: Inter;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin-left: 148px;
}