.lead__caption {
    margin: 0;
    text-transform: uppercase;
    color: #FFF;
    font-size: 10px;
    font-family: 'Inter-Regular', sans-serif;
    line-height: 1.4;
    letter-spacing: 1.5px;
    max-width: 160px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}