.place {
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 950px) {
    .place {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 650px) {
    .place {
        margin-bottom: 50px;
    }
}